{% extends 'base.html' %}

{% block form %}
    <div class="row mb mt">
        <div class="col s12 m8 l4 offset-l4">
            <div class="input-field">
                <h3>Crea una nueva nota</h3>
                <form action="{% url 'notes:new_note' %}" method="post">
                    {% csrf_token %}
                    {% if error_message %}
                        <div id="error" class="card-panel red accent-3">{{ error_message }}</div>
                    {% endif %}
                    <div class="input-field">
                        <input id="title-note" type="text" name="title-note" data-length="100">
                        <label for="title-note">Título de la nota</label>
                    </div>
                    <div class="input-field">
                        <textarea id="content-note" class="materialize-textarea" name="content-note"></textarea>
                        <label for="content-note">Contenido de la nota</label>
                    </div>
                    <div class="input-field">
                        <button class="btn green darken-2 waves-effect waves-light" type="submit" name="action">Guardar
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock form %}

{% block notes %}
    {% for note in notes %}
        <div class="col s12 m6 l4">
            <div class="note-card z-depth-2">
                <div class="note-title">
                    <i class="material-icons red-text text-accent-3 note-icon">lens</i>
                    <h2>{{ note.title_note }}</h2>
                </div>
                <div class="note-content">
                    <p>{{ note.content_note }}</p>
                    <p class="note-date">{{ note.pub_date|date:"d\/m\/Y \- H\:i" }}</p>
                </div>
                <div class="note-methods">
                    <form action="/" method="post">
                        {% csrf_token %}
                        <div class="input-field">
                            <button class="btn blue darken-2 waves-effect waves-light" type="submit" name="action">
                                <i class="material-icons">create</i>
                            </button>
                        </div>
                    </form>
                    <form action="{% url 'notes:delete_note' note.id %}" method="post">
                        {% csrf_token %}
                        <div class="input-field">
                            <button class="btn red accent-3 waves-effect waves-light" type="submit" name="action">
                                <i class="material-icons">delete</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock notes %}