<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>NoteApp</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="green darken-2 navbar">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">NoteApp</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{% url 'notes:home' %}">Principal</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block form %}

        {% endblock form %}

        <div class="row">
            {% block notes %}

            {% endblock notes %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>